<% include header %>

<h2>Write a new entry</h2>

<form method="post" role="form">
  <div class="form-group">
    <label for="title">첫번째 제목</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="제목 중에서도 소제목" required>
  </div>
  <div class="form-group">
    <label for="body">두번째 제목</label>
    <textarea class="form-control" id="body" name="body" placeholder="대충 구체적인 내용." rows="3" required></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="Post entry" class="btn btn-primary">
  </div>
</form>

<% include footer %>
